
#Ignoring large file that exceeds size limits

/data/bootstrapped_new_scar_data.csv 

#Ignoring manuscript folder

/manuscript/

#Ignore all word documents, pdfs, icon files (icon=Mac thing), and DS_Store files (Mac thing)

*.docx 

*.pdf 

*Icon 

*.DS_Store 

*.Sketch

*.sketch

*.xlsx

#ignoring Rproject user folder not needed

.Rproj.user
